@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br>
    <h1 class="display-3">WorkflowyNetAPI</h1>
    <br>
    <br>
    <h5 class="display-6"><a href="/swagger">Swagger</a></h5>
    <h5 class="display-6"><a href="Home/JSTests">JS Tests</a></h5>
</div>
