@{
    ViewData["Title"] = "JSTests";
}

<div class="text">
</div>

@section Scripts {
    <script type="module" src="/js/WF_api.js" defer></script>
    <script type="module" src="/js/WF_api_test.js" defer></script>
}